.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 375px;
  background-color: #f4f5f6;
  padding-top: 45px;
}

.footerContainer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 45px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  .buttonContainer {
    width: 340px;
    height: 45px;
  }
}
